# Postgres connection
PGHOST=db
PGPORT=5432
PGDATABASE=teste
PGUSER=postgres
PGPASSWORD=fatec

# Trainer config
TRAIN_WINDOW_DAYS=120
FORECAST_HORIZON_DAYS=14
SCHEDULE_CRON=10 2 * * *
MODEL_VERSION=sarimax_v1
TRAIN_FORCE=false
# Timezone para o agendamento (ex.: America/Sao_Paulo)
TZ=America/Sao_Paulo
